<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    @await Component.InvokeAsync("_LayoutHeadComponentPartial")
</head>

<body>
    <div class="wrapper">

        @await Component.InvokeAsync("_LayoutNavbarComponentPartial")
        @await Component.InvokeAsync("_LayoutSidebarComponentPartial")

        <div class="main-panel">
            <div class="content">
                <div class="page-inner pt-4">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer mt-auto border-top">
                <div class="container-fluid py-3 d-flex justify-content-between align-items-center">
                    <div class="text-muted font-weight-bold">
                        © @DateTime.Now.Year | Admin Panel
                    </div>
                    <div class="text-muted small">
                        Aziz Çayıroğlu
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @await Component.InvokeAsync("_LayoutScriptComponentPartial")

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>