@model Portfolio

@{
  ViewData["Title"] = "Yeni Proje";
  Layout = "~/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-sm border-0">

        <div class="card-header bg-primary text-white">
          <h5 class="mb-0 text-center">Yeni Portfolyo Ekle</h5>
        </div>

        <form method="post">
          <div class="card-body">
            <div class="row">

              <div class="col-md-6 mb-3">
                <label>Proje Adı</label>
                <input asp-for="Title" class="form-control" />
              </div>

              <div class="col-md-6 mb-3">
                <label>Alt Başlık</label>
                <input asp-for="SubTitle" class="form-control" />
              </div>

              <div class="col-md-12 mb-3">
                <label>Açıklama</label>
                <textarea asp-for="Description" class="form-control"></textarea>
              </div>

              <div class="col-md-6 mb-3">
                <label>Görsel URL</label>
                <input asp-for="ImageUrl" class="form-control" />
              </div>

              <div class="col-md-6 mb-3">
                <label>Proje Linki</label>
                <input asp-for="Url" class="form-control" />
              </div>

            </div>
          </div>

          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">
              Kaydet
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script>
    console.log("Create.cshtml scripts çalışıyor");
  </script>
}